.scroll {
  height: 100%;
}
.dashboard {
  display: flex;
  height: 100%;
}
.marker {
  font-size: 50%;
}
.baby-name {
  font-size: 32px;
  padding: 15px;
}
.feed-time {
  font-size: 48px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.feed-message {
    padding: 8px;
}
.heartbeat {
  color: white;
}
.card {
    margin-top: -8px;
}
.change {
  color: red;
}
.change-add, .change-remove {
  color: white;
  transition: all 1s;
  -webkit-transition: all 1s ease-in-out;
}
.change-add-active {
  color: red;
}
.change-remove {
  color: red;
}
.change-remove-active {
  color: white;
}
